#map-canvas {
    margin-left: auto;
    margin-right: auto;
}
#location-list-title{
	text-align: center;
}
.active{
	/*right: 0px !important;*/
}
#locations-list {
    position: fixed;
    z-index: 99999;
    top: 30px;
    right: -480px;
    background-color: white;
    padding: 20px;
    height: 300px;
    overflow: scroll;
}
.list-place{
	margin: 20px;
}
/*.labels {
     color: white;
     background-color: red;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     text-align: center;
     width: 100px;     
     white-space: nowrap;
   }*/
